  #header12{
    background-color: rgb(165, 67, 42);
    color: bisque;
    font-weight: bold;
    

  }

  body{
      text-align: center;
    }
  .choice-button{
    height: 125px;
    width: 120px;
    background-color: rgb(140, 202, 32);
    box-shadow: rgb(81, 4, 4);
    cursor: pointer;
    border: none;
    margin: 5px;
    border-radius: 60px;
    

    }
  
    .choice-image{
      height: 100px;
      width: 80px;
    
    }
    .reset-button{
      background-color: rgb(81, 4, 4);
      color: bisque;
      cursor: pointer;
    }